.rowCalc{
      text-align: left;
      border-width: 1px;
      border-color: grey;
      padding-bottom: 0.5em;
      border-style: groove;
      padding-top: 0.4em;
}

.rowCalcFooter{
      background-color: #eeeeee;
}

.rowCalcHeader{
      background-color: #eeeeee;
}




.buttonDisplayOnly{
      background-color: #337ab7;
      border-color: #000000;
      margin: 0;
      width: 6em;
      padding-left: 1px;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: left;
      cursor: none;
      cursor: not-allowed;
      border: none;
}

.buttonDisplayOnly{
      background-color: #337ab7;
      border-color: #000000;
      margin: 0;
      width: 6em;
      padding-left: 1px;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: left;
      cursor: none;
      cursor: not-allowed;
      border: none;
}


.buttonCalc{
      background-color: #330099;
      border-color: #000000;
      border: solid;
      font-color: white;
      color: white;
      margin: 2px;
      width: 6em;
      padding-left: 1px;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
      border: all;
      cursor: pointer;
}


